# phpstorm project files
.idea

# visual code
workspace.code-workspace
.vscode

.bash_history

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
.composer
.pki

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#radoo: github authentication
/auth.json
